body , html {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  color: #333;

-moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;

  background-color: #fff;
}

.blx-carousel {

  margin: 0;
  padding: 0;
  overflow: hidden;
}

.blx-carousel-page {
  text-align: center;
  position: absolute;

  margin: 0;
  padding: 0;

  /*background-color: #FFF;*/
  /*color : #fff;*/
}

#p1 {
}

  #p1 h1{
    position: absolute;
    margin: 0;
    width: 100%;

    margin-left: -50%;
    margin-top: -1em;

    top: 38%;
    left: 50%;

    font-weight: 400;
    font-size: 4.8em;

  }

  #p1 p{
    position: absolute;
    margin: 0;
    margin-left: -50%;
    margin-bottom: -1em;
    width: 100%;

    bottom: 24%;
    left: 50%;

    font-size: 1.2em;
    color: #999;

  }

#p2 {
}

  .show {
    position: absolute;
    width: 100%;
    /*bottom: 62%;*/
    margin-top: -1em;
    top: 26%;
  }

  .show #rotate{
    width: 8em;
    /*width: 60%;*/

    /*color: #EEE;*/
    /*width:100%;*/
    /*font-size: 10em;*/

    /*font-weight: 400;*/

    /*text-shadow: #DDD 10px 10px 2px;*/
  }

  .info {
    position: absolute;
    top: 62%;
    width: 100%;
    /*margin-top: -6em;*/
  }

  .info .h1 {
    width:100%;
    /*font-size: 2.4em;*/
  }

#p3 {
}
  #p3 .info h1 span{
    font-size: 0.5em;
  }

  #p3 .show {
    /*text-align: left;*/
  }

  #p3 .show div{
  }

  #p3 .show .two{
  }

  #p3 .show .zero{
  }

  #p3 .show .one{
  }

  #p3 .show .four{
  }

#p4{
}

  #p3 .show {
    /*text-align: left;*/
  }

  #p4 #bander {
    height: 8em;
    position: absolute;
    left: 0;
    bottom: 0;
  }

#p5{
}
  #p5 #marker {
    width: 4em;
    height: 6em;
  }
