/*@-webkit-keyframes tran {
  from{
    tramsform:rotate(90deg);
    -webkit-tramsform:rotate(90deg);
  }
  to
    tramsform:rotate(0deg);
    -webkit-tramsform:rotate(0deg);
  }
}

@keyframes tran {
  0%{
    tramsform:rotate(90deg);
    -webkit-tramsform:rotate(90deg);
  }
  100%{
    tramsform:rotate(0deg);
    -webkit-tramsform:rotate(0deg);
  }
}

.tran {
  transform-orgin:50% 150%;
  -webkit-transform-orgin:50% 150%;
  -webkit-animation-name: tran;
  animation-name: tran;
}
*/

@-webkit-keyframes tran {
  0% {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
  }

  /*70% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  80% {
    transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
  }

  90% {
    transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
  }*/

  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
}

@keyframes tran {
  0% {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
  }


  

  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

}

.tran {

  transform-origin: 50% 200%;
  -webkit-transform-origin: 50% 200%;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name: tran;
  animation-name: tran;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}


@-webkit-keyframes tranner {
  0% {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
}

@keyframes tranner {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }


  

  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

}

.tranner {

  transform-origin: 50% 200%;
  -webkit-transform-origin: 50% 200%;
  /*animation-timing-function:linear;
  -webkit-animation-timing-function:linear;*/
  -webkit-animation-name: tranner;
  animation-name: tranner;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}


@-webkit-keyframes tranright {
  0% {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
}

@keyframes tranright {
  0% {
    transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
  }


  

  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

}

.tranright {

  transform-origin: 120% 100%;
  -webkit-transform-origin: 120% 100%;
/*  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;*/
  -webkit-animation-name: tranright;
  animation-name: tranright;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}









@-webkit-keyframes flipInn /* Safari and Chrome */
{
from {top:0px;}
to {top:200px;}
};

@-moz-keyframes flipInn /* Firefox */
{
from {top:0px;}
to {top:200px;}
}
 /* 100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }*/

  /*80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }*/
}

@keyframes flipInn 
  


{
from {top:0px;}
to {top:200px;}
}
  

  /*60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    -ms-transform: perspective(400px);
    transform: perspective(400px);
  }*/
}

.flipInn {
  animation:flipInn 5s infinite;
-moz-animation:flipInn 5s infinite; /* Firefox */
-webkit-animation:flipInn 5s infinite; /* Safari and Chrome */
-o-animation:flipInn 5s infinite; /* Opera */
  -webkit-animation-name: flipInn;
  animation-name: flipInn;
}




@keyframes moveUp
{
0%   {top:-25px;}
100% {top:-70px;}
}

@-moz-keyframes moveUp /* Firefox */
{
0%   {top:-25px;}
100% {top:-70px;}
}

@-webkit-keyframes moveUp /* Safari 和 Chrome */
{
0%   {top:-25px;}
100% {top:-70px;}
}

@-o-keyframes moveUp /* Opera */
{
0%   {top:-25px;}
100% {top:-70px;}
}

.moveUp
{
animation:  moveUp 1s ;
-moz-animation: moveUp 1s; /* Firefox */
-webkit-animation: moveUp 1s;  /* Safari 和 Chrome */
-o-animation: moveUp 1s; /* Opera */
animation-fill-mode:both;
 -webkit-animation-fill-mode:both;
}

@keyframes fastMoveUp
{
0%   {top:-70px;}
100% {top:-10px;}
}

@-moz-keyframes fastMoveUp /* Firefox */
{
0%   {top:-70px;}
100% {top:-10px;}
}

@-webkit-keyframes fastMoveUp /* Safari 和 Chrome */
{
0%   {top:-70px;}
100% {top:-10px;}
}

@-o-keyframes fastMoveUp /* Opera */
{
0%   {top:-70px;}
100% {top:-10px;}
}

.fastMoveUp
{
animation:  fastMoveUp 1s ;
-moz-animation: fastMoveUp 1s; /* Firefox */
-webkit-animation: fastMoveUp 1s;  /* Safari 和 Chrome */
-o-animation: fastMoveUp 1s; /* Opera */
}

@keyframes fastestMoveUp
{
0%   {top:-640px;}
100% {top:-10px;}
}

@-moz-keyframes fastestMoveUp /* Firefox */
{
0%   {top:-640px;}
100% {top:-10px;}
}

@-webkit-keyframes fastestMoveUp /* Safari 和 Chrome */
{
0%   {top:-640px;}
100% {top:-10px;}
}

@-o-keyframes fastestMoveUp /* Opera */
{
0%   {top:-640px;}
100% {top:-10px;}
}

.fastestMoveUp
{
animation:  fastestMoveUp 1s ;
-moz-animation: fsatestMoveUp 1s; /* Firefox */
-webkit-animation: fastestMoveUp 1s;  /* Safari 和 Chrome */
-o-animation: fastestMoveUp 1s; /* Opera */
}

@keyframes fadeUpLittle
{
0%   {top:0px;}
100% {top:-10px;}
}

@-moz-keyframes fadeUpLittle /* Firefox */
{
0%   {top:0px;}
100% {top:-10px;}
}

@-webkit-keyframes fadeUpLittle /* Safari 和 Chrome */
{
0%   {top:0px;}
100% {top:-10px;}
}

@-o-keyframes fadeUpLittle /* Opera */
{
0%   {top:0px;}
100% {top:-10px;}
}

.fadeUpLittle
{
animation:  fadeUpLittle 1s ;
-moz-animation: fadeUpLittle 1s; /* Firefox */
-webkit-animation: fadeUpLittle 1s;  /* Safari 和 Chrome */
-o-animation: fadeUpLittle 1s; /* Opera */
}

@keyframes fadeDownLittle
{
0%   {top:54%;}
100% {top:57%;}
}

@-moz-keyframes fadeDownLittle /* Firefox */
{
0%   {top:54%;}
100% {top:57%;}
}

@-webkit-keyframes fadeDownLittle /* Safari 和 Chrome */
{
0%   {top:54%;}
100% {top:57%;}
}

@-o-keyframes fadeDownLittle /* Opera */
{
0%   {top:54%;}
100% {top:57%;}
}

.fadeDownLittle
{
animation:  fadeDownLittle 1s ;
-moz-animation: fadeDownLittle 1s; /* Firefox */
-webkit-animation: fadeDownLittle 1s;  /* Safari 和 Chrome */
-o-animation: fadeDownLittle 1s; /* Opera */
}


@keyframes QianQianHaoBai
{
0%   {
  transform: rotate(0deg);
-ms-transform: rotate(0deg);   /* IE 9 */
-webkit-transform: rotate(0deg); /* Safari and Chrome */
-o-transform: rotate(0deg);    /* Opera */
-moz-transform: rotate(0deg);    /* Firefox */
}
100% {
  transform: rotate(10deg);
-ms-transform: rotate(10deg);   /* IE 9 */
-webkit-transform: rotate(10deg); /* Safari and Chrome */
-o-transform: rotate(10deg);    /* Opera */
-moz-transform: rotate(10deg);    /* Firefox */
}
}

@-moz-keyframes QianQianHaoBai /* Firefox */
{
0%   {
  transform: rotate(0deg);
-ms-transform: rotate(0deg);   /* IE 9 */
-webkit-transform: rotate(0deg); /* Safari and Chrome */
-o-transform: rotate(0deg);    /* Opera */
-moz-transform: rotate(0deg);    /* Firefox */
}
100% {
  transform: rotate(10deg);
-ms-transform: rotate(10deg);   /* IE 9 */
-webkit-transform: rotate(10deg); /* Safari and Chrome */
-o-transform: rotate(10deg);    /* Opera */
-moz-transform: rotate(10deg);    /* Firefox */
}
}
@-webkit-keyframes QianQianHaoBai /* Safari 和 Chrome */
{
0%   {
  transform: rotate(0deg);
-ms-transform: rotate(0deg);   /* IE 9 */
-webkit-transform: rotate(0deg); /* Safari and Chrome */
-o-transform: rotate(0deg);    /* Opera */
-moz-transform: rotate(0deg);    /* Firefox */
}
100% {
  transform: rotate(10deg);
-ms-transform: rotate(10deg);   /* IE 9 */
-webkit-transform: rotate(10deg); /* Safari and Chrome */
-o-transform: rotate(10deg);    /* Opera */
-moz-transform: rotate(10deg);    /* Firefox */
}
}

@-o-keyframes QianQianHaoBai /* Opera */
{
0%   {
  transform: rotate(0deg);
-ms-transform: rotate(0deg);   /* IE 9 */
-webkit-transform: rotate(0deg); /* Safari and Chrome */
-o-transform: rotate(0deg);    /* Opera */
-moz-transform: rotate(0deg);    /* Firefox */
}
100% {
  transform: rotate(10deg);
-ms-transform: rotate(10deg);   /* IE 9 */
-webkit-transform: rotate(10deg); /* Safari and Chrome */
-o-transform: rotate(10deg);    /* Opera */
-moz-transform: rotate(10deg);    /* Firefox */
}
}

.QianQianHaoBai
{
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
animation:  QianQianHaoBai 1s ;
-moz-animation: QianQianHaoBai 1s; /* Firefox */
-webkit-animation: QianQianHaoBai 1s;  /* Safari 和 Chrome */
-o-animation: QianQianHaoBai 1s; /* Opera */
}