body , html {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  color: #333;

-moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;

  background-color: #fff;
}

.blx-carousel {

  margin: 0;
  padding: 0;
  overflow: hidden;
}

.blx-carousel-page {
  text-align: center;
  position: absolute;

  margin: 0;
  padding: 0;

  /*background-color: #FFF;*/
  /*color : #fff;*/
  overflow: hidden;
}

#p1 {
}

  #p1 h1{
    position: absolute;
    margin: 0;
    width: 100%;

    margin-left: -50%;
    margin-top: -1em;

    top: 38%;
    left: 50%;

    font-weight: 400;
    font-size: 4.8em;

  }

  #p1 p{
    position: absolute;
    margin: 0;
    margin-left: -50%;
    margin-bottom: -1em;
    width: 100%;

    bottom: 24%;
    left: 50%;

    font-size: 1.2em;
    color: #999;

  }

#p2 {
}
  #bt{
    position: absolute;
    width: 100%;
    top:20%;
  }
  #im11{
    position: absolute;
    bottom:10%;    
    width: 100%;
  }
  #im1{
    width: 40%;
  }

  .show{
    position: absolute;
    width: 100%;
    /*bottom: 62%;*/
    margin-top: -1em;
    top: 26%;
  }

  .show #rotate{

    margin: 0;
    padding: 0;

    width: 8em;
    height: 8em;
    /*width: 60%;*/

    /*color: #EEE;*/
    width:100%;
    /*font-size: 10em;*/

    /*font-weight: 400;*/

    /*text-shadow: #DDD 10px 10px 2px;*/
  }

  .info {
    position: absolute;
    top: 62%;
    width: 100%;
    /*margin-top: -6em;*/
  }

  .info .h1 {
    width:100%;
    /*font-size: 2.4em;*/
  }

#p3 {
}
  #p{
    width: 100%;
  }
  #pp1{
    position: absolute;
    bottom:0%;    
    width: 100%;
  }
  #rr1{
    position: absolute;  
    width: 100%;
    bottom:0%;
  }
  #gr1{
    position: absolute;  
    width: 100%;
    bottom:0%;
  }
  #gr
  {
    width: 100%;
  }
  #rr
  {
    width:100%;
  }
  #bt2{
    position: absolute;
    width: 100%;
    top:20%;
  }
  #p3 .show {
    top: 1em;
    text-align: right;
  }

  #p3 .info h1 span{
    font-size: 0.5em;
  }

  #p3 .show div {
    margin: -0.258em;
    padding: 0;
  }

  #p3 .show img{
    left: 0;
    margin: 0;
    padding: 0;
    /*height: 5em;*/
    height: 5em;
    /*text-align: right;*/
  }

#p4{
}
  #xr{
    width: 100%;
  }
  #xrr{
    position: absolute;
    width: 100%;
    bottom:0%;
  }
  #xrb{
    width: 100%;
  }
  #xrrb{
    position: absolute;
    width: 100%;
    bottom:0%;
  }
  #bt31{
    position: absolute;
    left:20%;
    top:5%;
  }
  #bt32{
    position: absolute;
    top:10%;
    left:10%;
  }
  #bt33{
    position: absolute;
    top:20%;
    right:10%;
  }
  #p4 .show {
    top: 20%;
    width: auto;
    text-align: left;
    margin-right: 3em;
    margin-left: 3em;
  }

  #p4 .indent {
    text-indent: 2em;
  }

  #p4 .right {
    text-align: right;
  }

  #p4 #bander {
    height: 8em;
    position: absolute;
    left: 0;
    bottom: 0;
  }

#p5{
}
  #bt41{
    position: absolute;
    top:5%;
    left:20%;
  }
  #bt42{
    position: absolute;
    top:10%;
    right:10%;
  }
  #bt43{
    
  }
  #bbt43{
    position: absolute;
    top:20%;
    width:100%;
  }
  #xxr{
    width: 80%;
  }
  #xxxr{
    position: absolute;
    width: 100%;
    bottom:0%;
  }

#p6{
}
  /*#bt6{
    position: absolute;
    margin-left: -50%;
    width:100%;
    height:100%;
    left:50%;
  }*/
  #p6 #qr {
    opacity: 0.6;
    width: 9em;
  }

#p7{
}
  #logo1{
    position: absolute;
    width:20%;
    left:10%;
  }
  #logo2{
    position: absolute;
    width:20%;
    left:10%;
  }
  #logo11{
    position: absolute;
    width: 100%;
    top:10%;
  }
  #logo22{
    position: absolute;
    width: 100%;
    top:10%;
  }
  #bt71{
    position: absolute;
    top:10%;
    left:30%;
  }
  #bt72{
    position:absolute;
    width:100%;
    top:30%;
  }
  #bt73{
    position:absolute;
    width:100%;
    top:50%;
  }
#p8{

  }
  #mmarker{
    position:absolute;
    width:100%;
    top:10%;
  }
  #marker{
    width:40%;
  }

  #p7 h1{
    position: absolute;
    margin: 0;
    width: 100%;

    margin-left: -50%;
    margin-top: -1em;

    top: 48%;
    left: 50%;

    font-weight: 400;
    font-size: 4.8em;

  }
   #p7 h3{
    position: absolute;
    margin: 0;
    width: 100%;

    margin-left: -50%;
    margin-top: -1em;

    top: 70%;
    left: 50%;

    font-weight: 400;
    font-size: 4.8em;

  }
#button{
  font-size: 2em;
  position: absolute;

  height: 100%;
  width: 100%;
  z-index: 100;
}

#button .button-class{
  opacity: 0.1;
}

#button .button-class:active,
#button .button-class:hover{
  opacity: 0.3;
}

  #button #previous-button{
    padding-right: 0.5em;
    background-color: #CCC;
    text-align: center;
    height: 100%;
    position: absolute;
    left: 0;
  }

  #button #next-button{
    padding-left: 0.5em;
    background-color: #CCC;
    text-align: center;
    height: 100%;
    position: absolute;
    right: 0;
  }

  #button .empty{
    height: 45%;
    /*height: 100%;*/
    /*margin-top: 45%;*/
    /*color: #fff;*/
  }

  #button .button-icon{
    /*height: 45%;*/
    /*height: 100%;*/
    /*margin-top: 45%;*/
    /*color: #fff;*/
  }
